{% extends "main.html" %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="aboutus-container"
    style="max-width: 700px; margin: 40px auto; padding: 20px; font-family: 'Georgia', serif; color: #333;">
    <h1 style="font-family: 'Dancing Script', cursive; text-align: center; font-size: 2.5em; margin-bottom: 0.2em;">Pale
        Purple</h1>
    <h2 style="text-align: center; font-size: 1.3em; font-weight: normal; margin-bottom: 1.5em;">By Yashvi Gautam</h2>
    <p style="text-align: center; font-size: 1.1em;">
        is a NewGen luxury brand born to quietly redefine what luxury means.
    </p>
    <p style="margin-top: 2em; font-size: 1.1em;">
        Founded by a designer whose creativity refuses to stay boxed in, Pale Purple is an expression of thoughtful
        design, intentional craftmanship and emotional elegance.
    </p>
    <p style="margin-top: 2em; font-size: 1.1em;">
        To us, luxury isn’t just about price tags or flashy prints – it’s about the experience. It’s the softness of
        high-quality fabrics, the intimacy of personalized service, and the quiet confidence of clothing that speaks
        without shouting.
    </p>
    <p style="margin-top: 2em; font-size: 1.1em;">
        Pale Purple is where art meets wearability, and fashion becomes form of self-expression.
    </p>
</div>

{% endblock %}